<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; 2016 - <%= new Date().getFullYear() %> <a href="https://jikt.im" class="footer-link">jiktim</a>
      <br>
      <strong><%= bot.user.username %></strong>, by <a href="https://lesbian.codes" class="footer-link">smolespi</a>,
      <a href="https://github.com/resolvedxd/" class="footer-link">resolved</a>,
      &amp; <a href="https://twitter.com/cth103" class="footer-link">cth103</a>.
    </p>
  </div>
</footer>
