<head>
  <%# Metadata & Resources %>
  <%- include("../partials/meta.ejs") %>
  <link rel="stylesheet" href="../static/styles/player.css">
  <title>jMusic</title>
</head>

<section class="container section content has-text-white">
  <p class="title has-text-white">Welcome to jMusic!</p>
  <div class="borgar-wrapper">
    <div class="borgar">
      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
    </div>
  </div>
</section>
