<script src="/static/main/settings.js"></script>
Webhook URL:<input id="webhookURL" placeholder="hot loli sex"><br>
Authorization key (put this in your sdk settings):<input id="Authorization" placeholder="hot loli sex"> <button id="genRandom">Generate random key</button><br>
<button id="save">save</button>
