<div class="head">
  <%# General info; header %>
  <h1 class="title has-text-white">ReferenceError</h1>
  <h2 class="subtitle has-text-light" style="margin-bottom: 3px;">Example is not defined</h2>
  <p class="subtitle has-text-light is-size-6" style="margin-bottom: 15px;">path/file.js:69</p>

  <div class="field has-addons">
    <p class="control">
      <button class="button is-small">
        <span class="icon is-small"><i class="fas fa-check"></i></span>
        <span>Fixed</span>
      </button>
    </p>
    <p class="control">
      <button class="button is-small">
        <span class="icon is-small"><i class="fas fa-times-circle"></i></span>
        <span>Ignore</span>
      </button>
    </p>
  </div>
</div>
