<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">

<style>
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Inconsolata', monospace;
}

.big404 {
  font-size: 30vw;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 0%;
}

.nf {
  text-align: center;
  font-size: 10vw;
  margin-bottom: 0%;
  margin-top: 0%;
}

.wf {
  text-align: center;
  color: white !important;
  font-size: 6vw;
  margin-bottom: 0%;
}

a { color: white; }
</style>
</head>
<body>


<div class="lower">
  <h1 class="big404">404</h1>
  <h1 class="nf"> Not Found </h1>
  <h1 class="wf"><a href="/">Go Back<a></h1>
</div>

</body>
</html>
